// 变量
@import "_variables";

/* small displays */
@media only screen {
	.#{$ns}show-sm-only,
	.#{$ns}show-sm-up,
	.#{$ns}show-sm,
	.#{$ns}show-sm-down,
	.#{$ns}hide-md-only,
	.#{$ns}hide-md-up,
	.#{$ns}hide-md,
	.#{$ns}show-md-down,
	.#{$ns}hide-lg-only,
	.#{$ns}hide-lg-up,
	.#{$ns}hide-lg,
	.#{$ns}show-lg-down {
		display: inherit !important;
	}
	.#{$ns}hide-sm-only,
	.#{$ns}hide-sm-up,
	.#{$ns}hide-sm,
	.#{$ns}hide-sm-down,
	.#{$ns}show-md-only,
	.#{$ns}show-md-up,
	.#{$ns}show-md,
	.#{$ns}hide-md-down,
	.#{$ns}show-lg-only,
	.#{$ns}show-lg-up,
	.#{$ns}show-lg,
	.#{$ns}hide-lg-down {
		display: none !important;
	}
	/* table */
	table.#{$ns}show-sm-only,
	table.#{$ns}show-sm-up,
	table.#{$ns}show-sm,
	table.#{$ns}show-sm-down,
	table.#{$ns}hide-md-only,
	table.#{$ns}hide-md-up,
	table.#{$ns}hide-md,
	table.#{$ns}show-md-down,
	table.#{$ns}hide-lg-only,
	table.#{$ns}hide-lg-up,
	table.#{$ns}hide-lg,
	table.#{$ns}show-lg-down {
		display: table !important;
	}
	thead.#{$ns}show-sm-only,
	thead.#{$ns}show-sm-up,
	thead.#{$ns}show-sm,
	thead.#{$ns}show-sm-down,
	thead.#{$ns}hide-md-only,
	thead.#{$ns}hide-md-up,
	thead.#{$ns}hide-md,
	thead.#{$ns}show-md-down,
	thead.#{$ns}hide-lg-only,
	thead.#{$ns}hide-lg-up,
	thead.#{$ns}hide-lg,
	thead.#{$ns}show-lg-down {
		display: table-header-group !important;
	}
	tbody.#{$ns}show-sm-only,
	tbody.#{$ns}show-sm-up,
	tbody.#{$ns}show-sm,
	tbody.#{$ns}show-sm-down,
	tbody.#{$ns}hide-md-only,
	tbody.#{$ns}hide-md-up,
	tbody.#{$ns}hide-md,
	tbody.#{$ns}show-md-down,
	tbody.#{$ns}hide-lg-only,
	tbody.#{$ns}hide-lg-up,
	tbody.#{$ns}hide-lg,
	tbody.#{$ns}show-lg-down {
		display: table-row-group !important;
	}
	tr.#{$ns}show-sm-only,
	tr.#{$ns}show-sm-up,
	tr.#{$ns}show-sm,
	tr.#{$ns}show-sm-down,
	tr.#{$ns}hide-md-only,
	tr.#{$ns}hide-md-up,
	tr.#{$ns}hide-md,
	tr.#{$ns}show-md-down,
	tr.#{$ns}hide-lg-only,
	tr.#{$ns}hide-lg-up,
	tr.#{$ns}hide-lg,
	tr.#{$ns}show-lg-down {
		display: table-row !important;
	}
	th.#{$ns}show-sm-only,
	td.#{$ns}show-sm-only,
	th.#{$ns}show-sm-up,
	td.#{$ns}show-sm-up,
	th.#{$ns}show-sm,
	td.#{$ns}show-sm,
	th.#{$ns}show-sm-down,
	td.#{$ns}show-sm-down,
	th.#{$ns}hide-md-only,
	td.#{$ns}hide-md-only,
	th.#{$ns}hide-md-up,
	td.#{$ns}hide-md-up,
	th.#{$ns}hide-md,
	td.#{$ns}hide-md,
	th.#{$ns}show-md-down,
	td.#{$ns}show-md-down,
	th.#{$ns}hide-lg-only,
	td.#{$ns}hide-lg-only,
	th.#{$ns}hide-lg-up,
	td.#{$ns}hide-lg-up,
	th.#{$ns}hide-lg,
	td.#{$ns}hide-lg,
	th.#{$ns}show-lg-down,
	td.#{$ns}show-lg-down {
		display: table-cell !important;
	}
}
/* medium displays */
@media only screen and (min-width:641px) {
	.#{$ns}hide-sm-only,
	.#{$ns}show-sm-up,
	.#{$ns}hide-sm,
	.#{$ns}hide-sm-down,
	.#{$ns}show-md-only,
	.#{$ns}show-md-up,
	.#{$ns}show-md,
	.#{$ns}show-md-down,
	.#{$ns}hide-lg-only,
	.#{$ns}hide-lg-up,
	.#{$ns}hide-lg,
	.#{$ns}show-lg-down {
		display: inherit !important;
	}
	.#{$ns}show-sm-only,
	.#{$ns}hide-sm-up,
	.#{$ns}show-sm,
	.#{$ns}show-sm-down,
	.#{$ns}hide-md-only,
	.#{$ns}hide-md-up,
	.#{$ns}hide-md,
	.#{$ns}hide-md-down,
	.#{$ns}show-lg-only,
	.#{$ns}show-lg-up,
	.#{$ns}show-lg,
	.#{$ns}hide-lg-down {
		display: none !important;
	}
	table.#{$ns}hide-sm-only,
	table.#{$ns}show-sm-up,
	table.#{$ns}hide-sm,
	table.#{$ns}hide-sm-down,
	table.#{$ns}show-md-only,
	table.#{$ns}show-md-up,
	table.#{$ns}show-md,
	table.#{$ns}show-md-down,
	table.#{$ns}hide-lg-only,
	table.#{$ns}hide-lg-up,
	table.#{$ns}hide-lg,
	table.#{$ns}show-lg-down {
		display: table !important;
	}
	thead.#{$ns}hide-sm-only,
	thead.#{$ns}show-sm-up,
	thead.#{$ns}hide-sm,
	thead.#{$ns}hide-sm-down,
	thead.#{$ns}show-md-only,
	thead.#{$ns}show-md-up,
	thead.#{$ns}show-md,
	thead.#{$ns}show-md-down,
	thead.#{$ns}hide-lg-only,
	thead.#{$ns}hide-lg-up,
	thead.#{$ns}hide-lg,
	thead.#{$ns}show-lg-down {
		display: table-header-group !important;
	}
	tbody.#{$ns}hide-sm-only,
	tbody.#{$ns}show-sm-up,
	tbody.#{$ns}hide-sm,
	tbody.#{$ns}hide-sm-down,
	tbody.#{$ns}show-md-only,
	tbody.#{$ns}show-md-up,
	tbody.#{$ns}show-md,
	tbody.#{$ns}show-md-down,
	tbody.#{$ns}hide-lg-only,
	tbody.#{$ns}hide-lg-up,
	tbody.#{$ns}hide-lg,
	tbody.#{$ns}show-lg-down {
		display: table-row-group !important;
	}
	tr.#{$ns}hide-sm-only,
	tr.#{$ns}show-sm-up,
	tr.#{$ns}hide-sm,
	tr.#{$ns}hide-sm-down,
	tr.#{$ns}show-md-only,
	tr.#{$ns}show-md-up,
	tr.#{$ns}show-md,
	tr.#{$ns}show-md-down,
	tr.#{$ns}hide-lg-only,
	tr.#{$ns}hide-lg-up,
	tr.#{$ns}hide-lg,
	tr.#{$ns}show-lg-down {
		display: table-row !important;
	}
	th.#{$ns}hide-sm-only,
	td.#{$ns}hide-sm-only,
	th.#{$ns}show-sm-up,
	td.#{$ns}show-sm-up,
	th.#{$ns}hide-sm,
	td.#{$ns}hide-sm,
	th.#{$ns}hide-sm-down,
	td.#{$ns}hide-sm-down,
	th.#{$ns}show-md-only,
	td.#{$ns}show-md-only,
	th.#{$ns}show-md-up,
	td.#{$ns}show-md-up,
	th.#{$ns}show-md,
	td.#{$ns}show-md,
	th.#{$ns}show-md-down,
	td.#{$ns}show-md-down,
	th.#{$ns}hide-lg-only,
	td.#{$ns}hide-lg-only,
	th.#{$ns}hide-lg-up,
	td.#{$ns}hide-lg-up,
	th.#{$ns}hide-lg,
	td.#{$ns}hide-lg,
	th.#{$ns}show-lg-down,
	td.#{$ns}show-lg-down {
		display: table-cell !important;
	}
}
/* large displays */
@media only screen and (min-width:1025px) {
	.#{$ns}hide-sm-only,
	.#{$ns}show-sm-up,
	.#{$ns}hide-sm,
	.#{$ns}hide-sm-down,
	.#{$ns}hide-md-only,
	.#{$ns}show-md-up,
	.#{$ns}hide-md,
	.#{$ns}hide-md-down,
	.#{$ns}show-lg-only,
	.#{$ns}show-lg-up,
	.#{$ns}show-lg,
	.#{$ns}show-lg-down {
		display: inherit !important;
	}
	.#{$ns}show-sm-only,
	.#{$ns}hide-sm-up,
	.#{$ns}show-sm,
	.#{$ns}show-sm-down,
	.#{$ns}show-md-only,
	.#{$ns}hide-md-up,
	.#{$ns}show-md,
	.#{$ns}show-md-down,
	.#{$ns}hide-lg-only,
	.#{$ns}hide-lg-up,
	.#{$ns}hide-lg,
	.#{$ns}hide-lg-down {
		display: none !important;
	}
	table.#{$ns}hide-sm-only,
	table.#{$ns}show-sm-up,
	table.#{$ns}hide-sm,
	table.#{$ns}hide-sm-down,
	table.#{$ns}hide-md-only,
	table.#{$ns}show-md-up,
	table.#{$ns}hide-md,
	table.#{$ns}hide-md-down,
	table.#{$ns}show-lg-only,
	table.#{$ns}show-lg-up,
	table.#{$ns}show-lg,
	table.#{$ns}show-lg-down {
		display: table !important;
	}
	thead.#{$ns}hide-sm-only,
	thead.#{$ns}show-sm-up,
	thead.#{$ns}hide-sm,
	thead.#{$ns}hide-sm-down,
	thead.#{$ns}hide-md-only,
	thead.#{$ns}show-md-up,
	thead.#{$ns}hide-md,
	thead.#{$ns}hide-md-down,
	thead.#{$ns}show-lg-only,
	thead.#{$ns}show-lg-up,
	thead.#{$ns}show-lg,
	thead.#{$ns}show-lg-down {
		display: table-header-group !important;
	}
	tbody.#{$ns}hide-sm-only,
	tbody.#{$ns}show-sm-up,
	tbody.#{$ns}hide-sm,
	tbody.#{$ns}hide-sm-down,
	tbody.#{$ns}hide-md-only,
	tbody.#{$ns}show-md-up,
	tbody.#{$ns}hide-md,
	tbody.#{$ns}hide-md-down,
	tbody.#{$ns}show-lg-only,
	tbody.#{$ns}show-lg-up,
	tbody.#{$ns}show-lg,
	tbody.#{$ns}show-lg-down {
		display: table-row-group !important;
	}
	tr.#{$ns}hide-sm-only,
	tr.#{$ns}show-sm-up,
	tr.#{$ns}hide-sm,
	tr.#{$ns}hide-sm-down,
	tr.#{$ns}hide-md-only,
	tr.#{$ns}show-md-up,
	tr.#{$ns}hide-md,
	tr.#{$ns}hide-md-down,
	tr.#{$ns}show-lg-only,
	tr.#{$ns}show-lg-up,
	tr.#{$ns}show-lg,
	tr.#{$ns}show-lg-down {
		display: table-row !important;
	}
	th.#{$ns}hide-sm-only,
	td.#{$ns}hide-sm-only,
	th.#{$ns}show-sm-up,
	td.#{$ns}show-sm-up,
	th.#{$ns}hide-sm,
	td.#{$ns}hide-sm,
	th.#{$ns}hide-sm-down,
	td.#{$ns}hide-sm-down,
	th.#{$ns}hide-md-only,
	td.#{$ns}hide-md-only,
	th.#{$ns}show-md-up,
	td.#{$ns}show-md-up,
	th.#{$ns}hide-md,
	td.#{$ns}hide-md,
	th.#{$ns}hide-md-down,
	td.#{$ns}hide-md-down,
	th.#{$ns}show-lg-only,
	td.#{$ns}show-lg-only,
	th.#{$ns}show-lg-up,
	td.#{$ns}show-lg-up,
	th.#{$ns}show-lg,
	td.#{$ns}show-lg,
	th.#{$ns}show-lg-down,
	td.#{$ns}show-lg-down {
		display: table-cell !important;
	}
}
//横向
@media only screen and (orientation: landscape) {
	.#{$ns}show-landscape,
	.#{$ns}hide-portrait {
		display: inherit !important;
	}
	.#{$ns}hide-landscape,
	.#{$ns}show-portrait {
		display: none !important;
	}
}
//纵向
@media only screen and (orientation: portrait) {
	.#{$ns}show-portrait,
	.#{$ns}hide-landscape {
		display: inherit !important;
	}
	.#{$ns}hide-portrait,
	.#{$ns}show-landscape {
		display: none !important;
	}
}