// 变量
@import "_variables";
/* ==========================================================================
	 Component: Grid
 ============================================================================ */
.#{$ns}container {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 100%;
	max-width: 1000px;
}
.#{$ns}container:before,
.#{$ns}container:after {
	content: " ";
	display: table;
}
.#{$ns}container:after {
	clear: both;
}
@media only screen and (min-width:641px) {
	.#{$ns}container {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}
.#{$ns}container > .#{$ns}g {
	width: auto;
	margin-left: -1rem;
	margin-right: -1rem;
}
@media only screen and (min-width:641px) {
	.#{$ns}container > .#{$ns}g {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
	}
}
.#{$ns}g {
	margin: 0 auto;
	width: 100%;
}
.#{$ns}g:before,
.#{$ns}g:after {
	content: " ";
	display: table;
}
.#{$ns}g:after {
	clear: both;
}
.#{$ns}g .#{$ns}g {
	margin-left: -1rem;
	margin-right: -1rem;
	width: auto;
}
.#{$ns}g .#{$ns}g.#{$ns}g-collapse {
	margin-left: 0;
	margin-right: 0;
	width: auto;
}
@media only screen and (min-width:641px) {
	.#{$ns}g .#{$ns}g {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
	}
}
.#{$ns}g.#{$ns}g-collapse .#{$ns}g {
	margin-left: 0;
	margin-right: 0;
}
.#{$ns}g-collapse [class*="#{$ns}u-"] {
	padding-left: 0;
	padding-right: 0;
}
.#{$ns}g-fixed {
	max-width: 1000px;
}
[class*="#{$ns}u-"] {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	float: left;
	position: relative;
}
[class*="#{$ns}u-"] + [class*="#{$ns}u-"]:last-child {
	float: right;
}
[class*="#{$ns}u-"] + [class*="#{$ns}u-"].#{$ns}u-end {
	float: left;
}
@media only screen and (min-width:641px) {
	[class*="#{$ns}u-"] {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}
[class*="#{$ns}u-pull-"] {
	left: auto;
}
[class*="#{$ns}u-push-"] {
	right: auto;
}
@media only screen {
	.#{$ns}u-sm-1 {
		width: 8.33333333%;
	}
	.#{$ns}u-sm-2 {
		width: 16.66666667%;
	}
	.#{$ns}u-sm-3 {
		width: 25%;
	}
	.#{$ns}u-sm-4 {
		width: 33.33333333%;
	}
	.#{$ns}u-sm-5 {
		width: 41.66666667%;
	}
	.#{$ns}u-sm-6 {
		width: 50%;
	}
	.#{$ns}u-sm-7 {
		width: 58.33333333%;
	}
	.#{$ns}u-sm-8 {
		width: 66.66666667%;
	}
	.#{$ns}u-sm-9 {
		width: 75%;
	}
	.#{$ns}u-sm-10 {
		width: 83.33333333%;
	}
	.#{$ns}u-sm-11 {
		width: 91.66666667%;
	}
	.#{$ns}u-sm-12 {
		width: 100%;
	}
	.#{$ns}u-sm-pull-0 {
		right: 0;
	}
	.#{$ns}u-sm-pull-1 {
		right: 8.33333333%;
	}
	.#{$ns}u-sm-pull-2 {
		right: 16.66666667%;
	}
	.#{$ns}u-sm-pull-3 {
		right: 25%;
	}
	.#{$ns}u-sm-pull-4 {
		right: 33.33333333%;
	}
	.#{$ns}u-sm-pull-5 {
		right: 41.66666667%;
	}
	.#{$ns}u-sm-pull-6 {
		right: 50%;
	}
	.#{$ns}u-sm-pull-7 {
		right: 58.33333333%;
	}
	.#{$ns}u-sm-pull-8 {
		right: 66.66666667%;
	}
	.#{$ns}u-sm-pull-9 {
		right: 75%;
	}
	.#{$ns}u-sm-pull-10 {
		right: 83.33333333%;
	}
	.#{$ns}u-sm-pull-11 {
		right: 91.66666667%;
	}
	.#{$ns}u-sm-push-0 {
		left: 0;
	}
	.#{$ns}u-sm-push-1 {
		left: 8.33333333%;
	}
	.#{$ns}u-sm-push-2 {
		left: 16.66666667%;
	}
	.#{$ns}u-sm-push-3 {
		left: 25%;
	}
	.#{$ns}u-sm-push-4 {
		left: 33.33333333%;
	}
	.#{$ns}u-sm-push-5 {
		left: 41.66666667%;
	}
	.#{$ns}u-sm-push-6 {
		left: 50%;
	}
	.#{$ns}u-sm-push-7 {
		left: 58.33333333%;
	}
	.#{$ns}u-sm-push-8 {
		left: 66.66666667%;
	}
	.#{$ns}u-sm-push-9 {
		left: 75%;
	}
	.#{$ns}u-sm-push-10 {
		left: 83.33333333%;
	}
	.#{$ns}u-sm-push-11 {
		left: 91.66666667%;
	}
	.#{$ns}u-sm-offset-0 {
		margin-left: 0;
	}
	.#{$ns}u-sm-offset-1 {
		margin-left: 8.33333333%;
	}
	.#{$ns}u-sm-offset-2 {
		margin-left: 16.66666667%;
	}
	.#{$ns}u-sm-offset-3 {
		margin-left: 25%;
	}
	.#{$ns}u-sm-offset-4 {
		margin-left: 33.33333333%;
	}
	.#{$ns}u-sm-offset-5 {
		margin-left: 41.66666667%;
	}
	.#{$ns}u-sm-offset-6 {
		margin-left: 50%;
	}
	.#{$ns}u-sm-offset-7 {
		margin-left: 58.33333333%;
	}
	.#{$ns}u-sm-offset-8 {
		margin-left: 66.66666667%;
	}
	.#{$ns}u-sm-offset-9 {
		margin-left: 75%;
	}
	.#{$ns}u-sm-offset-10 {
		margin-left: 83.33333333%;
	}
	.#{$ns}u-sm-offset-11 {
		margin-left: 91.66666667%;
	}
	.#{$ns}u-sm-reset-order {
		margin-left: 0;
		margin-right: 0;
		left: auto;
		right: auto;
		float: left;
	}
	[class*="#{$ns}u-"].#{$ns}u-sm-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	[class*="#{$ns}u-"].#{$ns}u-sm-centered:last-child {
		float: none;
	}
	[class*="#{$ns}u-"].#{$ns}u-sm-uncentered {
		margin-left: 0;
		margin-right: 0;
		float: left;
	}
	[class*="#{$ns}u-"].#{$ns}u-sm-uncentered:last-child {
		float: left;
	}
}
@media only screen and (min-width:641px) {
	.#{$ns}u-md-1 {
		width: 8.33333333%;
	}
	.#{$ns}u-md-2 {
		width: 16.66666667%;
	}
	.#{$ns}u-md-3 {
		width: 25%;
	}
	.#{$ns}u-md-4 {
		width: 33.33333333%;
	}
	.#{$ns}u-md-5 {
		width: 41.66666667%;
	}
	.#{$ns}u-md-6 {
		width: 50%;
	}
	.#{$ns}u-md-7 {
		width: 58.33333333%;
	}
	.#{$ns}u-md-8 {
		width: 66.66666667%;
	}
	.#{$ns}u-md-9 {
		width: 75%;
	}
	.#{$ns}u-md-10 {
		width: 83.33333333%;
	}
	.#{$ns}u-md-11 {
		width: 91.66666667%;
	}
	.#{$ns}u-md-12 {
		width: 100%;
	}
	.#{$ns}u-md-pull-0 {
		right: 0;
	}
	.#{$ns}u-md-pull-1 {
		right: 8.33333333%;
	}
	.#{$ns}u-md-pull-2 {
		right: 16.66666667%;
	}
	.#{$ns}u-md-pull-3 {
		right: 25%;
	}
	.#{$ns}u-md-pull-4 {
		right: 33.33333333%;
	}
	.#{$ns}u-md-pull-5 {
		right: 41.66666667%;
	}
	.#{$ns}u-md-pull-6 {
		right: 50%;
	}
	.#{$ns}u-md-pull-7 {
		right: 58.33333333%;
	}
	.#{$ns}u-md-pull-8 {
		right: 66.66666667%;
	}
	.#{$ns}u-md-pull-9 {
		right: 75%;
	}
	.#{$ns}u-md-pull-10 {
		right: 83.33333333%;
	}
	.#{$ns}u-md-pull-11 {
		right: 91.66666667%;
	}
	.#{$ns}u-md-push-0 {
		left: 0;
	}
	.#{$ns}u-md-push-1 {
		left: 8.33333333%;
	}
	.#{$ns}u-md-push-2 {
		left: 16.66666667%;
	}
	.#{$ns}u-md-push-3 {
		left: 25%;
	}
	.#{$ns}u-md-push-4 {
		left: 33.33333333%;
	}
	.#{$ns}u-md-push-5 {
		left: 41.66666667%;
	}
	.#{$ns}u-md-push-6 {
		left: 50%;
	}
	.#{$ns}u-md-push-7 {
		left: 58.33333333%;
	}
	.#{$ns}u-md-push-8 {
		left: 66.66666667%;
	}
	.#{$ns}u-md-push-9 {
		left: 75%;
	}
	.#{$ns}u-md-push-10 {
		left: 83.33333333%;
	}
	.#{$ns}u-md-push-11 {
		left: 91.66666667%;
	}
	.#{$ns}u-md-offset-0 {
		margin-left: 0;
	}
	.#{$ns}u-md-offset-1 {
		margin-left: 8.33333333%;
	}
	.#{$ns}u-md-offset-2 {
		margin-left: 16.66666667%;
	}
	.#{$ns}u-md-offset-3 {
		margin-left: 25%;
	}
	.#{$ns}u-md-offset-4 {
		margin-left: 33.33333333%;
	}
	.#{$ns}u-md-offset-5 {
		margin-left: 41.66666667%;
	}
	.#{$ns}u-md-offset-6 {
		margin-left: 50%;
	}
	.#{$ns}u-md-offset-7 {
		margin-left: 58.33333333%;
	}
	.#{$ns}u-md-offset-8 {
		margin-left: 66.66666667%;
	}
	.#{$ns}u-md-offset-9 {
		margin-left: 75%;
	}
	.#{$ns}u-md-offset-10 {
		margin-left: 83.33333333%;
	}
	.#{$ns}u-md-offset-11 {
		margin-left: 91.66666667%;
	}
	.#{$ns}u-md-reset-order {
		margin-left: 0;
		margin-right: 0;
		left: auto;
		right: auto;
		float: left;
	}
	[class*="#{$ns}u-"].#{$ns}u-md-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	[class*="#{$ns}u-"].#{$ns}u-md-centered:last-child {
		float: none;
	}
	[class*="#{$ns}u-"].#{$ns}u-md-uncentered {
		margin-left: 0;
		margin-right: 0;
		float: left;
	}
	[class*="#{$ns}u-"].#{$ns}u-md-uncentered:last-child {
		float: left;
	}
}
@media only screen and (min-width:1025px) {
	.#{$ns}u-lg-1 {
		width: 8.33333333%;
	}
	.#{$ns}u-lg-2 {
		width: 16.66666667%;
	}
	.#{$ns}u-lg-3 {
		width: 25%;
	}
	.#{$ns}u-lg-4 {
		width: 33.33333333%;
	}
	.#{$ns}u-lg-5 {
		width: 41.66666667%;
	}
	.#{$ns}u-lg-6 {
		width: 50%;
	}
	.#{$ns}u-lg-7 {
		width: 58.33333333%;
	}
	.#{$ns}u-lg-8 {
		width: 66.66666667%;
	}
	.#{$ns}u-lg-9 {
		width: 75%;
	}
	.#{$ns}u-lg-10 {
		width: 83.33333333%;
	}
	.#{$ns}u-lg-11 {
		width: 91.66666667%;
	}
	.#{$ns}u-lg-12 {
		width: 100%;
	}
	.#{$ns}u-lg-pull-0 {
		right: 0;
	}
	.#{$ns}u-lg-pull-1 {
		right: 8.33333333%;
	}
	.#{$ns}u-lg-pull-2 {
		right: 16.66666667%;
	}
	.#{$ns}u-lg-pull-3 {
		right: 25%;
	}
	.#{$ns}u-lg-pull-4 {
		right: 33.33333333%;
	}
	.#{$ns}u-lg-pull-5 {
		right: 41.66666667%;
	}
	.#{$ns}u-lg-pull-6 {
		right: 50%;
	}
	.#{$ns}u-lg-pull-7 {
		right: 58.33333333%;
	}
	.#{$ns}u-lg-pull-8 {
		right: 66.66666667%;
	}
	.#{$ns}u-lg-pull-9 {
		right: 75%;
	}
	.#{$ns}u-lg-pull-10 {
		right: 83.33333333%;
	}
	.#{$ns}u-lg-pull-11 {
		right: 91.66666667%;
	}
	.#{$ns}u-lg-push-0 {
		left: 0;
	}
	.#{$ns}u-lg-push-1 {
		left: 8.33333333%;
	}
	.#{$ns}u-lg-push-2 {
		left: 16.66666667%;
	}
	.#{$ns}u-lg-push-3 {
		left: 25%;
	}
	.#{$ns}u-lg-push-4 {
		left: 33.33333333%;
	}
	.#{$ns}u-lg-push-5 {
		left: 41.66666667%;
	}
	.#{$ns}u-lg-push-6 {
		left: 50%;
	}
	.#{$ns}u-lg-push-7 {
		left: 58.33333333%;
	}
	.#{$ns}u-lg-push-8 {
		left: 66.66666667%;
	}
	.#{$ns}u-lg-push-9 {
		left: 75%;
	}
	.#{$ns}u-lg-push-10 {
		left: 83.33333333%;
	}
	.#{$ns}u-lg-push-11 {
		left: 91.66666667%;
	}
	.#{$ns}u-lg-offset-0 {
		margin-left: 0;
	}
	.#{$ns}u-lg-offset-1 {
		margin-left: 8.33333333%;
	}
	.#{$ns}u-lg-offset-2 {
		margin-left: 16.66666667%;
	}
	.#{$ns}u-lg-offset-3 {
		margin-left: 25%;
	}
	.#{$ns}u-lg-offset-4 {
		margin-left: 33.33333333%;
	}
	.#{$ns}u-lg-offset-5 {
		margin-left: 41.66666667%;
	}
	.#{$ns}u-lg-offset-6 {
		margin-left: 50%;
	}
	.#{$ns}u-lg-offset-7 {
		margin-left: 58.33333333%;
	}
	.#{$ns}u-lg-offset-8 {
		margin-left: 66.66666667%;
	}
	.#{$ns}u-lg-offset-9 {
		margin-left: 75%;
	}
	.#{$ns}u-lg-offset-10 {
		margin-left: 83.33333333%;
	}
	.#{$ns}u-lg-offset-11 {
		margin-left: 91.66666667%;
	}
	.#{$ns}u-lg-reset-order {
		margin-left: 0;
		margin-right: 0;
		left: auto;
		right: auto;
		float: left;
	}
	[class*="#{$ns}u-"].#{$ns}u-lg-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	[class*="#{$ns}u-"].#{$ns}u-lg-centered:last-child {
		float: none;
	}
	[class*="#{$ns}u-"].#{$ns}u-lg-uncentered {
		margin-left: 0;
		margin-right: 0;
		float: left;
	}
	[class*="#{$ns}u-"].#{$ns}u-lg-uncentered:last-child {
		float: left;
	}
}
